body {
  background-color: #ccc;
}

.header-text {
  font-family: "Seaweed Script", cursive;
  margin-left: 100px;
}

.main-section {
  max-width: 1700px;
  background-color: #fff;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 75px;
  padding-bottom: 10px;
}

/* Section 1 */
.img1 {
  float: right;
  width: 100%;
  max-width: 450px;
  max-height: 350px;
  box-shadow: 5px 5px 2px 2px #999;
  transform: rotate(10deg) scale(1);
  border-top: 20px solid #ddd;
  border-left: 20px solid #ddd;
  border-right: 20px solid #ddd;
  border-bottom: 70px solid #ddd;
}

.img-text-1 {
  margin-left: 40%;
  margin-right: -70%;
  transform: rotate(10deg) scale(1);
  font-size: xx-large;
  font-family: "Nanum Brush Script", cursive;
}

.section-1 {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.section1-paragraph {
  width: 100%;
  max-width: 600px;
  margin-right: 100px;
  font-size: x-large;
  font-family: "Nanum Brush Script", cursive;
}

/* Section 2 */
.img2 {
  float: left;
  width: 100%;
  max-width: 500px;
  max-height: 350px;
  margin-left: 100px;
  margin-top: 50px;
  box-shadow: 5px 5px 2px 2px #999;
  transform: rotate(-10deg) scale(1);
  border-top: 20px solid #ddd;
  border-left: 20px solid #ddd;
  border-right: 20px solid #ddd;
  border-bottom: 70px solid #ddd;
}

.img-text-2 {
  transform: rotate(-10deg) scale(1);
  font-size: xx-large;
  font-family: "Nanum Brush Script", cursive;
  float: right;
  margin-left: -4%;
  margin-right: 35%;
  margin-top: -7%;
}

.section-2 {
  display: flex;
  flex-direction: row;
}

.section2-paragraph {
  width: 100%;
  max-width: 600px;
  margin-left: 100px;
  font-size: x-large;
  font-family: "Nanum Brush Script", cursive;
}

/* Section 3 */
.section3-paragraph {
  width: 100%;
  max-width: 1500px;
  margin-left: 50px;
  font-size: x-large;
  font-family: "Nanum Brush Script", cursive;
  margin-top: 100px;
}
